/* Background image and general styling */
body {
    margin: 0;
    padding: 0;

}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 5%; /* Adjusting top padding to move form up by 20% */
}

.login-form-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /* Translucent background */
    padding: 30px; /* Increased padding */
    border-radius: 12px; /* Increased border-radius */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increased shadow */
    transform: translateY(-20%); /* Moving form up */
}

.logo-container {
    margin-right: 30px; /* Increased margin */
}

.logo {
    width: 150px; /* Increased logo size by 50% */
}

.form-wrapper {
    max-width: 500px; /* Increased form width */
    width: 100%;
}

.social-login {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Increased margin */
}

.social-icon {
    margin: 0 15px; /* Increased margin */
    color: #333;
    text-decoration: none;
    font-size: 30px; /* Increased icon size */
}

.form-group {
    margin-bottom: 20px; /* Increased margin-bottom */
}

.form-group label {
    display: block;
    margin-bottom: 10px; /* Increased margin-bottom */
}

.btn-submit {
    display: block;
    width: 100%;
    font-size: 18px; /* Increased button font size */
    padding: 10px; /* Increased padding */
}
