/* Shared styles for all login pages */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;

  z-index:-5;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card, .login-form-container {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 15px;
  width: 70%;
  max-width: 600px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img, .login-logo {
  width: 150px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  margin-bottom: 10px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8px;
}

.btn-submit:hover {
  background-color: #e0a800;
}

.social-login-icons, .social-login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.social-icon:hover {
  color: #007bff;
}
